<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1>New Template</h1><br><br>
    </div>
    <div class="profile_panel_content w3-row">



        <div class="w3-row">
            <div class="w3-col l4">

              {{#fields-list}}

              {{/fields-list}}

            </div>
            <div class="w3-col l8">

                <h4>Template</h4>
                <br>
              {{#field-drag-drop-zone selectedFields=model.templateFields addField=(action "addFieldToTemplate")}}

              {{/field-drag-drop-zone}}
                <br>
                <br>
                <br>


                <label for="templateName">Template Name (required): </label>{{input value=model.templateName min="3" maxlength="50" required="true" name="templateName" type="text"}}
                <button {{action 'createTemplate' model}}>Save Template</button>

            </div>
        </div>
    </div>
</div>