<div class="w3-row">
  <div class="w3-col l4">
    <h4>Field List</h4>

    {{#fields-list sortedFieldsList=sortedFieldsList}}

    {{/fields-list}}

  </div>
  <div class="w3-col l8">

    <h4>Template</h4>

    {{#field-drag-drop-zone selectedFields=template.templateFields addTemplateFieldToTemplate=(action "addTemplateFieldToTemplate") removeFieldFromFieldsList=(action "removeFieldFromFieldsList") removeTemplateFieldFromTemplate=(action "removeTemplateFieldFromTemplate")}}

    {{/field-drag-drop-zone}}

  </div>
</div>

<div class="w3-row">
  <div class="w3-col l4">
    <p></p>
  </div>

  <div class="w3-col l8">

    <label for="templateName">Template Name (required): </label>{{input value=template.templateName min="3" maxlength="50" required="true" name="templateName" type="text"}}
    <button {{action 'createTemplate' template user}}>Save Template</button>

  </div>
</div>