<ul class="selected-fields-list">
  {{#each selectedFields as |templateField|}}
    <li>{{templateField.field.fieldName}} <button {{action removeTemplateFieldFromTemplate templateField}}>x</button></li>
  {{/each}}
</ul>
