<article>
  <h3>Field List</h3>

  <ul class="no-list-style">
  {{#each fields as |field|}}
    {{#field-drag-drop content=field.id}}
      <li class="field-list-item">{{field.fieldName}}</li>
    {{/field-drag-drop}}
  {{/each}}
  </ul>
</article>