<ol class="selected-fields-list min-height-220 ">
  {{#each selectedFields as |templateField|}}
    <li>{{templateField.field.fieldName}} <button {{action removeTemplateFieldFromTemplate templateField}}>x</button></li>
  {{/each}}
</ol>
