<article>
  <strong>Field List</strong>

  <ul>
  {{#each fields as |field|}}
    {{#field-drag-drop content=field.id}}
      <li class="field-list-item">{{field.fieldName}}</li>
    {{/field-drag-drop}}
  {{/each}}
  </ul>
</article>