<article>
  <strong>Field List</strong>

  <ul>
  {{#each fields as |field|}}
    {{#drag-drop}}
      <li class="field-list-item">{{field.fieldName}}</li>
    {{/drag-drop}}
  {{/each}}
  </ul>
</article>