<ol class="selected-fields-list ">
  {{#each selectedFields as |templateField|}}


{{yield}}

    <li>{{templateField.field.fieldName}} <button {{action removeField}}>X</button></li>
  {{/each}}
</ol>
