<div class="link-box">
    {{!#if}}
        <i class="fa fa-pencil-square-o fa-5x fb_blue-text" ></i>
        <p>Description of what entering this 'door' will give you access too.</p>
    {{!/if}}
</div>

<!--should get a variable, that variable sets what type of icon and defition shows up-->