/* for drag and drop from ember.js cookbook */


/*.draggable-dropzone {*/
  /*border: 1px solid black;*/
/*  width: 200px;
  height: 200px;*/
/*}*/

.activated {
  border: 4px solid red;
}

.red-text{
  color:#CB172B;
}
.selected-fields-list li{
  padding: 10px;
  margin-bottom: 5px;
  background: #f7f5f5;
  border: 1px solid #aba7a7;
  border-radius: 5px;
  width: 80%;
}
.field-list-item {
  padding: 10px;
  margin-bottom: 5px;
  background: #f7f5f5;
  border: 1px solid #aba7a7;
  border-radius: 5px;
}

.fields-list {
  margin: 0px;
}

.field-list-item:hover {
  background: rgba(49, 170, 189, 0.06);
  border: 1px solid #0b9cbd;
}

/* end drag and drop */

.white_background{
  background-color: white;
}
.white-text{
  color:white;
}
.margin-left-40{
margin-left: 40px;
}
.margin-20px{
  margin:20px;
}
.negative-margin-bottom-10{
  margin-bottom:-10px;
}

.float-right{
  float:right;
}
.float-left{
  float:left;
}
.no-list-style{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.negative-margin-top-30{
  margin-top:-30px;
}
.margin-right-20{
  margin-right:20px;
}
.padding-20{
  padding:20px;
}
#main_container{
  background:white;
}
#all_wrapper, #left_navigation{
  background:#ececec;
}
.fb_blue-background{
  background: #0b9cbd;
}
.fb_blue-text{
  color: #0b9cbd;
}
.fb_blue-border{
  border:solid 1px #0b9cbd;
}
.card-220px-height{
  height:220px;
}

.button-green{
  background: #339933;
  color: #white;
  border-radius: 2px;
  padding: 5px 10px;
}
note{
  font-size:16px;
  font-style: italic;
}
.min-height-220{
  min-height: 220px;
}
.alert-button{
  background-color:#CB172B;
  color: white;
}

/*-----------------------------
   Custom Ordered List
-----------------------------*/
/*ol {*/
  /*counter-reset:li; !* Initiate a counter *!*/
  /*margin-left:0; !* Remove the default left margin *!*/
  /*padding-left:0; !* Remove the default left padding *!*/
/*}*/
/*ol > li {*/
  /*position:relative; !* Create a positioning context *!*/
  /*margin:0 0 6px 2em; !* Give each list item a left margin to make room for the numbers *!*/
  /*padding:4px 8px; !* Add some spacing around the content *!*/
  /*list-style:none; !* Disable the normal item numbering *!*/
  /*border-top:2px solid #666;*/
  /*background:#f6f6f6;*/
/*}*/
/*ol > li:before {*/
  /*content:counter(li); !* Use the counter as content *!*/
  /*counter-increment:li; !* Increment the counter by 1 *!*/
  /*!* Position and style the number *!*/
  /*position:absolute;*/
  /*top:-2px;*/
  /*left:-2em;*/
  /*-moz-box-sizing:border-box;*/
  /*-webkit-box-sizing:border-box;*/
  /*box-sizing:border-box;*/
  /*width:2em;*/
  /*!* Some space between the number and the content in browsers that support*/
       /*generated content but not positioning it (Camino 2 is one example) *!*/
  /*margin-right:8px;*/
  /*padding:4px;*/
  /*border-top:2px solid #666;*/
  /*color:#fff;*/
  /*background:#666;*/
  /*font-weight:bold;*/
  /*font-family:"Helvetica Neue", Arial, sans-serif;*/
  /*text-align:center;*/
  /*margin-right: 5px;*/
/*}*/
/*li ol,*/
/*li ul {margin-top:6px;}*/
/*ol ol li:last-child {margin-bottom:0;}*/
/*---------------------------------------------
*  OVERWRITING Existing css from shared layout
----------------------------------------------*/
#left_navigation a{
  text-align: left;
}

#left_navigation {
   top: 0px;
  width: 180px;
   padding-left: 0px;
}

#left_navigation_top{
  display:none;
}

#left_navigation a {
  color: #404040;
  background: #fff;
}

#all_wrapper{
  background-color: #f2f2f2;
}

#left_navigation {
  background: #fff;
}
.nav_stop {
  left: -8px;
  width: 8px;
  height: 98%;
}
#left_navigation_bottom{
  display: none;
}
#main_container {
  width: calc(100% - 200px);
  padding:0px;
}
#left_navigation a:hover, #left_navigation a:active {
  background: #f5f3f3;
}
#left_navigation a{
  line-height: 26px;
  color: rgba(0,0,0,.75);
  font-size:18px;
  display: block;
  box-sizing: border-box;
}
/*---------------------------------------------
*  Shared Layout
----------------------------------------------*/
#left_navigation a i, #left_navigation a img {
  padding: 0px 5px;
}
#main_header{
  box-shadow: 0px 3px 6px rgba(0,0,0,0.10);
  z-index: 4;
}
.nav_tabs {
    color: white;
    margin-top: -30px;
}
.nav_tabs ul li{
  padding-left:40px;
}
  .main_container_header_nav ul li {
    display: inline-block;
}
  .nav_tabs li {
    padding: 10px 15px;
    background:white;
    margin-bottom:0px !important;
    margin-top:5px;
    -webkit-border-radius:8px 8px 0px 0px ;
    -moz-border-radius:8px 8px 0px 0px ;
    border-radius:8px 8px 0px 0px ;
    color: #000;
}
.nav_tabs li:first-child{
    margin-left: 35px;
}

.nav_stop{
  display: none;
}

#left_navigation a:hover .nav_stop{
     display: block;
}
#left_navigation a:hover i{
  color: #339933;

}
#left_navigation:first-child{
  margin-top:20px;
}
.green-background{
  background: #339933;
}









