<ul style="list-style: none">
  {{#each model as |user index|}}
    <li>
      {{list.list-item index}}. {{user.firstName}} {{user.lastName}} <button {{action "sendTemplate"}} class="w3-btn-floating-small w3-ripple w3-teal"><i class="fa fa-envelope"></i> Send It</button>
    </li>
  {{/each}}
</ul>