<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1>Completed Forms</h1><br><br>
    </div>
    <div class="profile_panel_content">

      {{#each model.form as |form|}}
      <ul class="no-list-style">
                {{#link-to 'form' form}}
                    <li><b> {{form.template.templateName}}</b></li>
                    <li>{{form.recipientUser.firstName}} {{form.recipientUser.lastName}} </li>
                    <li>{{form.dateFilledOut}}</li>
                {{/link-to}}
      </ul>
      {{/each}}

    </div>
</div>
