<h4>Completed Forms</h4>
{{#each model as |form|}}
    <ul>
        <li style="list-style:none">
          {{#link-to 'form' form}}
            {{form.template.templateName}}: {{form.user.firstName}} {{form.user.lastName}}
          {{/link-to}}
        </li>
    </ul>
{{/each}}