<h4>Completed Forms</h4>
{{#each model as |form|}}
    <ul>
        <li style="list-style:none">
          {{form.template.templateName}}: {{form.user.firstName}} {{form.user.lastName}}
        </li>
    </ul>
{{/each}}