<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1>Completed Form Show</h1><br><br>
    </div>
    <div class="profile_panel_content">

        <b>Form Name:</b> {{ model.template.templateName }}

        <ul class="no-list-style">
          {{#each model.submissions as |submission|}}
              <li><strong>{{submission.field.fieldName}}</strong> - {{submission.submissionText}}</li>
          {{/each}}
        </ul>

    </div>
</div>



