<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1>Completed Forms</h1><br><br>
    </div>
    <div class="profile_panel_content">
        <table class="w3-table w3-bordered">
            <tr>
                <th>Template Name</th>
                <th>Recipient Name</th>
                <th>Date Filled Out</th>
            </tr>
            {{#each model.form as |form|}}
                    <tr>
                      {{#link-to 'form' form}}
                          <td>{{form.template.templateName}}</td>
                      {{/link-to}}

                        <td>{{form.recipientUser.firstName}} {{form.recipientUser.lastName}}</td>
                        <td>{{form.dateFilledOut}}</td>
                    </tr>
            {{/each}}
        </table>
    </div>
</div>
