<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
        <h1>What do you want to do?</h1>
    </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-quarter w3-card-2 w3-hover-shadow w3-padding-top" style="min-height:260px">
        <h4>Create A New Template</h4><br>
        {{#link-to 'users'}}
            <i class="fa fa-plus-square-o w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        {{/link-to}}
    </div>
    <div class="w3-quarter w3-card-2 w3-hover-shadow w3-padding-top" style="min-height:260px">
        <h4>Fill Out A Form</h4><br>
        {{#link-to 'user-forms'}}
          {{#with user-forms}}
              <i class="fa fa-pencil-square-o w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
          {{/with}}
        {{/link-to}}
    </div>
    <div class="w3-quarter w3-card-2 w3-hover-shadow w3-padding-top" style="min-height:260px">
        <h4>View Existing Templates</h4><br>
        {{#link-to 'templates'}}
            <i class="fa fa-check-square-o w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        {{/link-to}}
    </div>
    <div class="w3-quarter w3-card-2 w3-hover-shadow w3-padding-top" style="min-height:260px">
        <h4>View Completed Forms</h4><br>
        {{#link-to 'forms'}}
            <i class="fa fa-folder w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        {{/link-to}}
    </div>
</div>
