<header class="main_container_header screen_header w3-row" style="background:#0b9cbd;">
    <h1 class="white-text">Form Builder</h1>
</header>
<div class="main_container_header_nav w3-row" style="background: #44b2cc;">
    <ul class="no-list-style nav_tabs">
        <li class="">Create Template</li>
        <li class="">Fill Out a Form</li>
        <li class="">View Templates</li>
        <li class="">View Completed Forms</li>
    </ul>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
    <div class="w3-quarter w3-card-2 min-height-220 w3-hover-shadow w3-padding-top" >
        <h4>  Create A New Template  </h4>
        {{#link-to 'users'}}
            <i class="fa fa-plus-square-o fa-5x fb_blue-text" ></i>
        {{/link-to}}
    </div>
    <div class="w3-quarter w3-card-2 min-height-220 w3-hover-shadow w3-padding-top" >
        <h4>Fill Out A Form</h4><br>
        {{#link-to 'user-forms'}}
            <i class="fa fa-pencil-square-o fa-5x fb_blue-text" ></i>
        {{/link-to}}


    </div>
    <div class="w3-quarter w3-card-2 min-height-220 w3-hover-shadow w3-padding-top" >
        <h4>View Templates</h4><br>
      {{#link-to 'templates'}}
          <i class="fa fa-check-square-o fa-5x fb_blue-text" ></i>
      {{/link-to}}
    </div>
    <div class="w3-quarter w3-card-2 min-height-220 w3-hover-shadow w3-padding-top" >
        <h4> View Completed Forms</h4><br>
      {{#link-to 'forms'}}
          <i class="fa fa-folder fa-5x fb_blue-text" ></i>
      {{/link-to}}
    </div>
</div>
