<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1 class="white-text">New Template</h1>
    </div>

{{create-new-template template=model.template user=model.user availableFieldsList=model.availableFieldsList}}

</div>