<div class="w3-container">
    <div class="w3-display-middle w3-padding w3-border w3-card-4">
        <img src="http://i0.kym-cdn.com/photos/images/facebook/000/669/319/c28.jpg" alt="Page Not Found">
    </div>
</div>
