<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">

        <h1>Available Templates</h1><br><br>

    </div>
    <div class="profile_panel_content">
      {{#each model as |template|}}
          <ul class="no-list-style">
              <li style="list-style:none">
                {{#link-to 'template-show' template}}
                    <div class="w3-margin">
                      {{template.templateName}}
                    </div>
                {{/link-to}}
              </li>
          </ul>
      {{/each}}
    </div>
</div>