<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">

        <h1>Available Templates</h1><br><br>

    </div>
    <div class="profile_panel_content">
      {{#each model as |template|}}
          <ul>
              <li style="list-style:none">
                {{#link-to 'template-show' template}}
                  {{template.templateName}}
                {{/link-to}}
              </li>
          </ul>
      {{/each}}
    </div>
</div>