<h3>Users Index</h3>
{{!-- <h6><i>The user's name will eventually link to the new template page, not to the user show page.</i></h6> --}}
{{#each model as |user|}}
  <ul>
     <li style="list-style: none">
         {{#link-to 'new-template' user.id}}
            {{#user-display user=user}}
              users template handlebars
            {{/user-display}}
         {{/link-to}}
     </li>
  </ul>
{{/each}}
