<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1>Users Index</h1><br><br>
    </div>
    <div class="profile_panel_content">


{{!-- <h6><i>The user's name will eventually link to the new template page, not to the user show page.</i></h6> --}}
{{users-list users=model usersTemplate=true linkName='new-template'}}
    </div>
</div>

