<div class="profile_panel fb_blue-border">
    <div class="profile_panel_header fb_blue-background white-text">
        <h1>User Forms</h1><br><br>
    </div>
    <div class="profile_panel_content">
      {{users-list users=model usersTemplate=true linkName='user-forms-index'}}
    </div>
</div>